.nav {
  display: block;
  width: 100%;
  &__item {
    border: 1px solid $body;
    border-radius: 3px;
    color: $body;
    margin: 0 1rem;
    padding: 1rem;
    &.active {
      color: $black;
      font-weight: bold;
    }
  }
  &.offline a {
    opacity: .25;
    &.visited {
      opacity: 1;
    }
  }
}
